

body {
    background-color: #faf2e4;
    font-family: sans-serif;
    }
  
  h1 {
    /**text-align: center;**/
    font-family: serif;
    font-weight: 50%;
    text-transform: uppercase;
    margin-top: 30px;

  }
  
  h2 {
   
    font-size: 2.5em; 
    
  }

  img{
    width: 100%;
    padding-top: 8%;
  }
    
    .text-section{
      font-family:serif;
      line-height: 2.5rem;
      font: size 2.5em;
      padding: 5% 8% 5%;
     
    }
    .contact-details{
      width:40%;
    margin: 40px auto 60px;
    line-height: 1;
  
    }
    .bottom-container{
      background-color: #d1633c; 
      padding: 50px 0 10px;
      text-align: center;
      line-height: 5;
    }
a {
  color:#faf2e4;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 10px;
    text-decoration: none;
}
a:hover{
  color:#eaf6f6;
}
.copy-right{
  color:#eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
